.recharts-responsive-container {
  max-height: 320px;
  background-color: #fbfbfb;
}
.recharts-default-legend {
  font-size: 14px;
}

.barChart_wrapper {
  /* max-width: 1440px;
  height: 320px;
  width: 100%; */
}
